html{
	border:3px black solid;
	margin-right: 400px;
	margin-left: 400px;
	margin-top: 65px;
	max-width:870px;
	min-width:870px;
	border-radius:10px;
}
#container{
	text-align:center;
}
#header{
	border: 2px black solid;
	background-color:#555;
}
#nav{
	float:left;
	width:30%;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
h2>img{
	width: 70px;
	position: absolute;
	top: 108px;
	right: 470px;
}
h1{
	margin-left:20px;
	margin-right:20px;
}

u>img{
	position:absolute;
	top:93px;
	left:685px;
	max-width:370px;
	min-width:370px;
}
#main{
	border: 1px black solid;
	margin-left: 205px;
	margin-top: 10px;
}
#main >p{
	margin-right:40px;
}
h1>ul{
	border:1px black solid;
	border-radius:10px;
}
center>table{
	position:absolute;
	top:150px;
	left:760px;
}
center>li{
	background-color:#555;
}
center>b{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color:yellow;
}