body>section{
	margin: 1em 0;
	padding: 0.5em;
	border: thin #ccc solid;
	padding-left:10em;
	position:relative;
}
h2{
	width:6em;
	font-size:150%;
	text-align:left;
	font-size:150%;
	position:absolute;
	left:10px;
}